.main {
  .container {
    display: flex;
    flex-direction: column;
  }
  .card-content {
    color: $primary-color;
    direction: ltr;
  }
  &__item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-gap: 2rem;
    @include atSmall {
      grid-template-columns: 100%;
    }
    &:nth-child(even) {
      direction: rtl;
    }
  }
  &__img-content {
    direction: ltr;
  }
}
