// override the materialize variables
$primary-color: color('teal', 'darken-2');
$secondary-color: color('grey', 'darken-4');
$secondary-color-light: color('grey', 'darken-2');
$sidenav-bg-color: $secondary-color;
$sidenav-font-color: rgba(255, 255, 255, 0.87);
